/* 
Colors
#d2f5fd
#69f7f2
#68cbb5
#1d4b57

#f2697c
#a81c30
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #d2f5fd;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

/* Navbar */
.navbar .container {
  background-color: #68cbb5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.navbar .nav-btn {
  padding: 0.5rem;
  background-color: #f2697c;
  border: 2px solid #f2697c;
  border-radius: 0.5rem;
  font-size: 18px;
}

.navbar .nav-btn:hover {
  background-color: #fff;
}

.navbar .nav-btn:hover a {
  color: #f2697c;
}

/* Header */
.header .container {
  background-color: #1d4b57;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .main-text {
  color: #f2697c;
  font-size: 48px;
  margin-bottom: 1rem;
}

.header img {
  align-self: center;
  width: 50%;
}

.header .secondary-text {
  margin-bottom: 1rem;
}

.header .header-btn {
  padding: 0.5rem 1.5rem;
  background-color: #f2697c;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
}

.header .header-btn:hover {
  background-color: #fff;
  border-color: #f2697c;
  color: #f2697c;
}

/* Info */
.info img {
  width: 250px;
}
